body{
  background-color: #91917D;
}
#nav{
background-color:#E84F0C;
}
#font{
font-size:2em;

}
#logotipo{
  width:2em;

}
#icone{
  display:none;

}
.navbar-brand{
  font-family:Orator Std;
  font-style:italic;
  color:#0a2fa1;
  font-weight: 900;
}

.azul{
  font-family:Orator Std;
  font-style:italic;
  color:#0a2fa1;
  font-weight: 900;
}
.text{
  font-family:Orator Std;
  font-style:italic;
  color:#0a2fa1;
  font-weight: 900;
}


.imgs{
width:30em;
margin-top: 2em;
}
.lola{
  float: right;
  background-color: red;
  margin-top: 4em;
}
@media screen and (max-width:1000px) {
  #icone{
    display:inherit;

  }
  .sumir{
   opacity: 0;
   margin-left: -5000em;
   display: none;
  }
}
